# Linker config for Meteor Storm
# Code goes to $080D-$2FFF (LOW) then $4000+ (HIGH)
# $3000-$3FFF is reserved for sprite data and custom charset (written at runtime)

FEATURES {
    STARTADDRESS: default = $0801;
}
SYMBOLS {
    __LOADADDR__:  type = import;
    __EXEHDR__:    type = import;
    __STACKSIZE__: type = weak, value = $0800;
    __HIMEM__:     type = weak, value = $D000;
}
MEMORY {
    ZP:       file = "",  define = yes, start = $0002,            size = $001A;
    LOADADDR: file = %O,               start = $07FF,            size = $0002;
    HEADER:   file = %O,  define = yes, start = $0801,           size = $000C;
    MAIN:     file = %O,  define = yes, start = $080D, size = $37F3, fill = yes, fillval = $00;
    HIGH:     file = %O,  define = yes, start = $4000,           size = $9000;
}
SEGMENTS {
    ZEROPAGE: load = ZP,       type = zp;
    LOADADDR: load = LOADADDR, type = ro;
    EXEHDR:   load = HEADER,   type = ro;
    STARTUP:  load = MAIN,     type = ro;
    LOWCODE:  load = MAIN,     type = ro,  optional = yes;
    CODE:     load = HIGH,     type = ro;
    RODATA:   load = HIGH,     type = ro;
    DATA:     load = HIGH,     type = rw;
    INIT:     load = HIGH,     type = rw;
    ONCE:     load = HIGH,     type = ro,  define   = yes;
    BSS:      load = HIGH,     type = bss, define   = yes;
}
FEATURES {
    CONDES: type    = constructor,
            label   = __CONSTRUCTOR_TABLE__,
            count   = __CONSTRUCTOR_COUNT__,
            segment = ONCE;
    CONDES: type    = destructor,
            label   = __DESTRUCTOR_TABLE__,
            count   = __DESTRUCTOR_COUNT__,
            segment = RODATA;
    CONDES: type    = interruptor,
            label   = __INTERRUPTOR_TABLE__,
            count   = __INTERRUPTOR_COUNT__,
            segment = RODATA,
            import  = __CALLIRQ__;
}
